body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
}

.header-top {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    padding: 0 300px 100px 300px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header-subtext , a{
    font-size: 18px;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.header-main {
    display: flex;
    padding: 0 300px 100px 300px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.header-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.img-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    width: 100%;
    background-color: gray;
    color: #E5E7EB;
}

.header-text {
    margin-right: 70px;
}

.btn {
    background-color: #3882f6;
    color: #E5E7EB;
    border: 0px;
    padding: 8px 32px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 16px;
}

.info {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 32px;
}

.info-boxes {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info-box {
    max-width: 150px;
}
.info-img {
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 16px;
}

.quote {
    background-color: #E5E7EB;
    margin-top: 100px;
}

.quote-box {
    padding: 100px 440px;
}

.quote-text {
    font-style: italic;
    font-weight: 10;
    font-size: 24px;
    color: #1f2937;
}

.quote-author {
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
    display: flex;
    justify-content: end;
}

.sign-up-box {
    margin: 100px 300px;
    padding: 50px 150px;
    border-radius: 10px;
    background-color: #3882f6;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
}

.sign-up-main {
    font-size: 24px;
    font-weight: bold;
}

.sign-up-text {
    font-size: 18px;
}
.sign-up-btn {
    background-color: #3882f6;
    border: 2px solid #E5E7EB;
    color: #E5E7EB;
    border-radius: 10px;
    padding: 5px 40px;
    font-size: 18px;
    font-weight: bold;
}

.sign-up-btn-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    background-color: #1f2937;
}

.footer-text {
    color: #E5E7EB;
    text-align: center;
    padding: 50px 0;
}